@font-face{
font-family: 'Spoqa Han Sans Neo', 'sans-serif';
src: url(../font/SpoqaHanSansNeo-Bold.ttf);
font-weight: bold;
}
@font-face{
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    src: url(../font/SpoqaHanSansNeo-Light.ttf);
    font-weight: lighter;
}
@font-face{
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    src: url(../font/SpoqaHanSansNeo-Regular.ttf);
    font-weight: normal;
}

*{font-family: 'Spoqa Han Sans Neo',  'Sans-serif'; font-weight: normal;}