body{background-color: #dddddd; font-size: 13px;}
.wrap{max-width: 1100px; width: 80%; height: 540px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex;}

.left{width: 50%; max-width: 540px; border-radius: 20px; overflow: hidden; margin-right: 20px;}
.right{width: 50%; max-width: 540px; border-radius: 20px; overflow: hidden; background-color: #ffffff; position: relative;}

.close_btn{position: absolute; top: 20px; right: 20px; width: 30px; height: 30px; padding: 8px;}

.right .right-inner{width: 60%; max-width: 360px;}
.right h2{font-size: 25px; font-weight: bold;}
.right .joinus_txt{font-size: 13px; margin: 3px 0 22px;}
.right .joinus_txt button{display: inline-block; color: #00a2e9; font-size: 15px; vertical-align: middle;}

.right .txt_field{width: 100%; border-radius: 4px; height: 40px; padding: 10px 16px; margin-bottom: 10px; border: 1px solid #e8e9ec;}

/* 전체동의 */
.terms_all{display: flex; justify-content: space-between; background-color: rgba(0,162,233, 0.1); padding: 10px 12px; margin-bottom: 20px; border-radius: 10px;}
.terms_all label{cursor: pointer; width: 100%;}
.terms_all input[type="checkbox"]{position: absolute; opacity: 0; cursor: pointer;}
.terms_all label .check_icon{display: inline-block; width: 20px; height: 20px; border: 1px solid #00a2e9; background-color: #ffffff; border-radius: 6px; vertical-align: middle;}
.terms_all label span:last-of-type{vertical-align: middle; font-size: 18px; color: #00a2e9; width: calc(100% - 20px); display: inline-block; text-align: center;}
.terms_all input[type="checkbox"]:checked + label .check_icon{background: url(../img/checkbox.svg) no-repeat 0 50%; border: 0;}

/* 동의 체크박스 */
.terms{display: flex; justify-content: space-between; margin-bottom: 15px; height: 20px;}
.terms:last-of-type{margin-bottom: 20px;}
.terms > button{color: #00a2e9; line-height: 1;}
.terms .checkbox label{cursor: pointer;}
.terms .checkbox input[type="checkbox"]{position: absolute; opacity: 0; cursor: pointer;}
.terms .checkbox label .check_icon{display: inline-block; width: 20px; height: 20px; border: 1px solid #e8e9ec; border-radius: 6px; vertical-align: middle; margin-top: -2px;}
.terms .checkbox label span:last-of-type{display: inline-block; line-height: 1; margin-left: 6px; vertical-align: middle; }
.terms .checkbox input[type="checkbox"]:checked + label .check_icon{background: url(../img/checkbox.svg) no-repeat 0 50%; border: 0;}

/* 인증하기 */
.certification > div{position: relative; height: 40px; margin-bottom: 10px;}
.certification > div button{position: absolute; top: 50%; right: 5px; transform: translateY(-50%); color: #00a2e9; background-color: rgba(0,162,233, 0.1); width: 60px; height: 30px; font-size: 11px;}

.right .submit_btn{background-color: #00a2e9; margin-top: 10px; font-size: 18px; color: #ffffff; width: 100%; height: 50px; border-radius: 10px; vertical-align: middle;}

/* 회원정보입력 */
.right.info{padding: 100px 10%;}
.info_input > div{height: 40px; margin-bottom: 10px;}

/* 회원가입완료 */
.right-inner.completed{width: 68%;}
.completed{text-align: center;}
.completed .logo{width: 92px;}
.completed p{font-size: 20px; margin-top: 40px; font-weight: bold;}
.completed span{font-size: 13px; margin: 10px 0 30px; display: block; color: #333;}

@media (max-width : 1200px){
    .wrap{width: 85%; height: 480px;}
    .left img{min-height: 500px;}
    .right .right-inner{width: 80%;}
    .right .right-inner.completed{width: 85%;}
    .right.info{padding: 80px 8%;}
}
@media (max-width : 850px){
    .wrap{width: 85%; height: 460px;}
    .left img{min-height: 460px;}
    .right .right-inner{width: 85%;}
    .right .right-inner.completed{width: 87%;}
    .completed p{font-size: 17px;}
    .terms_all label span:last-of-type{font-size: 16px;}
}
@media screen and (max-width: 769px) {
    body{background-color: #ffffff;}
    .wrap{display: block; width: 100%; min-height: 100vh; position: initial; transform: translate(0,0);}
    .left{display: none;}
    .right{width: 360px; margin: 0 auto; padding: 20px; border-radius: 0; min-height: 100%;}
    .right .right-inner, .right .right-inner.completed{width: calc(100% - 40px); height: calc(100% - 40px);}
    .right .right-inner.completed > div{position: absolute; top: 35%; left: 50%; transform: translateX(-50%); width: 100%;}
    .completed p{font-size: 19px;}
    .right .submit_btn{position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); width:100%; margin: 0;}
    .terms_all label span:last-of-type{font-size: 18px;}
}
@media screen and (max-width: 400px) {
    .right{width: 100%;}
}
 
