body{background-color: #dddddd; font-size: 13px;}
.wrap{max-width: 1100px; width: 80%; height: 540px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex;}

.left{width: 50%; max-width: 540px; border-radius: 20px; overflow: hidden; margin-right: 20px;}
.right{width: 50%; max-width: 540px; border-radius: 20px; overflow: hidden; background-color: #ffffff; position: relative;}

.close_btn{position: absolute; top: 20px; right: 20px; width: 30px; height: 30px; padding: 8px;}

.right .right-inner{width: 60%; max-width: 360px;}
.right h2{font-size: 25px; font-weight: bold;}
.right .joinus_txt{font-size: 13px; margin: 3px 0 22px;}
.right .joinus_txt button{display: inline-block; color: #00a2e9; font-size: 15px; vertical-align: middle;}

.right .txt_field{width: 100%; border-radius: 4px; height: 40px; padding: 10px 16px; margin-bottom: 10px; border: 1px solid #e8e9ec;}

.remember_wrap{display: flex; justify-content: space-between;}
.remember_login label{cursor: pointer;}
.remember_login input[type="checkbox"]{position: absolute; opacity: 0; cursor: pointer;}
.remember_login label .check_icon{display: inline-block; width: 20px; height: 20px; border: 1px solid #e8e9ec; border-radius: 6px; vertical-align: middle;}
.remember_login label span:last-of-type{display: inline-block; margin-left: 6px; vertical-align: middle;}
.remember_login input[type="checkbox"]:checked + label .check_icon{background: url(../img/checkbox.svg) no-repeat 0 50%; border: 0;}


.right .submit_btn{background-color: #00a2e9; margin: 20px 0 40px; font-size: 18px; color: #ffffff; width: 100%; height: 50px; border-radius: 10px; vertical-align: middle;}

/* sns로그인 */
.right .sns_login p{width: 100%; text-align: center; margin-bottom: 20px;}
.right .sns_login .btn_wrap{display: flex; justify-content: space-between; width: 100%;}
.right .sns_login .btn_wrap button{width: 60px; height: 60px; border-radius: 50%; padding: 0; background-color: #f0f0f0;}


@media (max-width : 1200px){
    .wrap{width: 85%; height: 480px;}
    .left img{min-height: 500px;}
    .right .right-inner{width: 70%;}
}
@media (max-width : 850px){
    .wrap{width: 85%; height: 460px;}
    .left img{min-height: 460px;}
    .right .right-inner{width: 80%;}
}
@media screen and (max-width: 769px) {
    body{background-color: #ffffff;}
    .wrap{display: block; width: 100%; position: initial; transform: translate(0,0); height: 100vh;}
    .left{display: none;}
    .right{width: 360px; margin: 0 auto; padding: 20px; border-radius: 0; min-height: 100%;}
    .right .right-inner{width: calc(100% - 40px); height: calc(100% - 40px);}
    .right .sns_login .btn_wrap button{width: 65px; height: 65px; background-color: #f0f0f0;}
}
@media screen and (max-width: 400px) {
    .right{width: 100%;}
}
 
