/* 배너 */
.main_bnn{padding: 0 20px; margin-top: 20px; height: 360px; position: relative;}
.swiper-container.swiper-banner {width: 100%; height: 100%; border-radius: 20px;}
.swiper-banner .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.main_bnn .swiper-pagination{bottom: -20px; left: 50%; transform: translateX(-50%);}
.main_bnn  .swiper-pagination-bullet{margin-right: 6px; background: #eee; opacity: 1;}
.main_bnn  .swiper-pagination-bullet:last-of-type{margin-right: 0}
.main_bnn  .swiper-pagination-bullet-active{background: #00a2e9;}

.main_title{text-align: center; margin: 70px 0 113px;}
.main_title h2{font-size: 35px; font-weight: bold; line-height: 1.3; margin-bottom: 20px;}
.main_title p{font-size: 18px; line-height: 1.7;}

  /* 카테고리 */
.category{padding: 0 20px; overflow: hidden; margin-bottom: 100px;}
.category-wrapper{display: flex; justify-content: space-between;  font-size: 18px;}
.category-wrapper .category_item{width: calc(25% - 20px); margin-right: 20px; text-align: center;}
.category-wrapper .category_item:last-of-type{margin-right: 0;}
.category-wrapper .img{width: 100%; height: 230px; border-radius: 15px; background-color: #dedede;}
.category-wrapper .name{margin: 30px 0; color: #00a2e9;}
.category-wrapper button{padding: 12px 23px; background-color: rgba(0,162,233,0.1); color: #00a2e9; font-size: 18px; border-radius: 10px;}

/* 하단정보 */
.box_item{width: 100%; padding: 0 20px; margin-bottom: 80px; display: flex; align-items: center;}
.box_item .img{background-color: #dedede; width: 40%; min-width: 335px; height: 364px; border-radius: 15px;}
.box_item .text{font-size: 15px; line-height: 1.7; margin-left: 132px;}
.box_item .text .sub_title{font-size: 25px; font-weight: bold; color: #00a2e9;}
.box_item.img_right{text-align: right; flex-direction: row-reverse;}
.box_item.img_right .text{margin-right: 132px; margin-left: 0;}

@media screen and (max-width: 1366px) {
  .category-wrapper .img{height: 180px;}
}

@media screen and (max-width: 1090px) {
  .box_item .text{margin-left: 80px;}
  .box_item.img_right .text{margin-right: 80px;}

}
@media screen and (max-width: 870px) {
  .box_item .text{margin-left: 30px;}
  .box_item.img_right .text{margin-right: 30px;}
  .box_item .img{height: 280px;}
}


@media screen and (max-width: 769px) {
  .main_title{margin: 50px 0 70px; padding: 0 33px;}
  .main_title h2{font-size: 25px;}
  .main_title p{font-size: 15px;}

  .category-wrapper .category_item {width: 65%; min-width: 235px;}

  .box_item{display: block; margin-bottom: 30px;}
  .box_item .img{width: 100%; min-width: 320px; height: 216px; margin: 0 auto;}
  .box_item .text{margin: 0; margin-top: 10px;}
  .box_item.img_right{text-align: left;}
  .box_item.img_right .text{margin-right: 0; margin-left: 0;}


}


 