html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	box-sizing: border-box;
	font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
	font-weight: normal;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1; 	color: #333;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{width: 100%;}
input{box-sizing: border-box;}
button{padding: 0; margin: 0;}
button, input[type="button"], input[type="submit"]{
	cursor: pointer; border: 0; 
	background-color: transparent;
}
button, input[type="button"]:focus, input[type="submit"]:focus{outline: none;}
::placeholder{color: #cecfd0;}
/* 포커스 */
input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="tel"]:focus{
	outline: none; 
	border: 1px solid #2cd889; 
	caret-color: #2cd889
}
/* 숫자 즘감버튼삭제 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
a{color: #000; text-decoration: none;}

.w-100{width: 100%}
.h-100{height: 100%}
.position-center{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.position-vertical{position: absolute; top: 50%; left: 0; transform: translateY(-50%);}

/* header */
header{z-index: 99; width: 100%; height: 80px; box-shadow: 0 3px 10px rgba(0,0,0,0.16); position: sticky; position: -webkit-sticky; top: 0; background-color: #ffffff;}
.header{display: flex; height: 100%; width: 100%; padding: 20px; justify-content: space-between;}
.header .header_logo{width: 15%; max-width: 150px; cursor: pointer;}

.header .nav{width: 75%; margin-left: 10px; display: flex; align-items: center; font-size: 16px; line-height: 1.3;}
.header .nav li{width: 16%; max-width: 112px; margin-right: 20px; text-align: center;}
.header .nav li a{width: 100%; padding: 10px 0; display: inline-block;}

.header .profile{display: flex; justify-content: flex-end;}
.header .profile .serch_btn{padding: 0 3px; margin-right: 14px; min-width: 36px;}
.header .profile .user_img{width: 36px; height: 36px; min-width: 36px; border-radius: 15px; position: relative; overflow: hidden; padding: 0; cursor: pointer;}

.my_menu{display: none; position: absolute; right: 20px; top: 68px; background-color: #fff; border-radius: 10px; padding: 20px; box-shadow: 0 3px 10px rgba(0,0,0,0.16);}
.my_menu li{margin-bottom: 5px; min-width: 184px; border-radius: 5px;}
.my_menu li:last-of-type{margin-bottom: 0;}
.my_menu li a{padding: 5px 10px; width: 100%; display: flex; align-items: center;}
.my_menu li a img{width: 22px; margin-right: 10px;}
.my_menu li a span{display: inline-block; margin-top: 3px;}


.mobile_menu{display: none;}
.mobile_nav{position: absolute; top: 60px; left: 0; width: 100%; background-color: #ffffff; padding: 20px; font-size: 16px; display: none;}
.mobile_nav li{margin-bottom: 10px;}
.mobile_nav li a{display: flex; padding: 10px 20px; border-radius: 20px; background-color: #ffffff;}
.mobile_nav li img{width: 16px; margin-right: 10px;}

.mobile_nav li button{border-radius: 20px; background-color: #ffffff; width: 100%; font-size: 16px;}
.mobile_nav li button div{display: flex; padding: 10px 20px; position: relative;}
.mobile_nav li button .menu_arrow{position: absolute; top: 50%; right: 20px; transform: translateY(-50%);}
.mobile_nav li .drop_menu{display: none; width: calc(100% - 40px); border-top: 1px solid #eeeeee; margin: 0 auto;}
.mobile_nav li .drop_menu a{background-color: transparent; padding: 5px 20px;}

/* 모바일 */
@media screen and (max-width: 769px) {
    header{height: 60px;}
    .header{padding: 15px 20px;}
    .header .header_logo{display: none; width: 30px; margin-left: 10px; cursor: pointer;}
    .header .nav{display: none;}

    .mobile_menu{width: 50%; display: flex; align-items: center;}
    .mobile_menu .header_logo{display: block; height: 100%;}
    .munu_btn{width: 30px; height: 30px;}
    .my_menu{top: 55px;}
    .mobile_nav{position: absolute; top: 60px; left: 0; width: 100%; background-color: #ffffff; padding: 20px; font-size: 16px; display: none;}
    .mobile_nav li{margin-bottom: 10px;}
    .mobile_nav li a{display: flex; padding: 10px 20px; border-radius: 20px; background-color: #ffffff;}
    .mobile_nav li img{width: 16px; margin-right: 10px;}

    .mobile_nav li button{border-radius: 20px; background-color: #ffffff; width: 100%; font-size: 16px;}
    .mobile_nav li button div{display: flex; padding: 10px 20px; position: relative;}
    .mobile_nav li button .menu_arrow{position: absolute; top: 50%; right: 20px; transform: translateY(-50%);}
    .mobile_nav li .drop_menu{display: none; width: calc(100% - 40px); border-top: 1px solid #eeeeee; margin: 0 auto;}
    .mobile_nav li .drop_menu a{background-color: transparent; padding: 5px 20px;}

    .mobile_nav li button.active, .mobile_nav li button:hover{background-color: #f8f8f8;}
    .mobile_nav li button.active .menu_arrow{transform: translateY(-50%) rotate(180deg) ; transform-origin: center center}
}

/* footer */
footer{background-color: #f8f8f8; padding: 30px 20px 20px;}
.footer{text-align: center}
.footer .store_btn{display: flex; justify-content: center;}
.footer .store_btn button{font-size: 13px; background-color:  #eeeeee; border-radius: 5px; padding: 10px 20px; width: 204px; margin-right: 20px; display: flex; align-items: center;}
.footer .store_btn button:last-of-type{margin-right: 0;}
.footer .store_btn button span{display: block; width: 100%;}
.footer .store_btn button img{margin-right: 15px; width: 20px;}
.footer .foo_logo{width: 150px; margin: 40px 0 10px;}
.footer > p{font-size: 15px;}
.footer .foo_nav{display: flex; margin: 20px auto; justify-content: center;}
.footer .foo_nav li{margin-right: 20px; width: 25%; max-width: 140px;}
.footer .foo_nav li:last-of-type{margin-right: 0;}
.footer .foo_nav li a{width: 100%; height: 100%; display: inline-block; padding: 5px 0 2px;}
.footer .foo_info{width: 100%; max-width: 560px; margin: 0 auto; line-height: 1.6;}
.footer .foo_info span{ font-size: 12px; color: #888888; margin-right: 10px;}
.footer .foo_info span:last-of-type{display: block;}
.footer .line{display: block; width: 100%; height: 1px; background-color: #ddd; margin-bottom: 20px;}
/* 모바일 */
@media screen and (max-width: 769px) {
	.footer .store_btn{flex-direction: column; align-items: center;}
	.footer .store_btn button{margin: 0;}
	.footer .store_btn button:first-of-type{margin-bottom: 10px;}
	.footer > p{font-size: 13px;}
	.footer .foo_nav{justify-content: space-between;}
	.footer .foo_nav li{margin-right: 10px; width: auto;}
}