.container{padding: 20px; display: flex; justify-content: space-between;}
.content{width: 80%; margin-right: 20px;}
.right_list{width: 20%; padding: 20px; border: 1px solid #eee; max-width: 400px; min-width: 300px; border-radius: 20px; max-height: 724px;}

/* 검색 */
.search_wrap{display: flex; justify-content: space-between; align-items: center;}
.sub_title{font-size: 15px; font-weight: bold;}
.search{width: 204px; position: relative;}
.search input{width: 100%; height: 40px; border: 1px solid #eee; padding: 10px 25px 10px 10px; border-radius: 20px;}
.search button{width: 22px; height: 22px; border-radius: 50%; padding: 2px; position: absolute; right: 5px; top: 50%; transform: translateY(-50%);}

/* 상단 메인비디오 */
.main_video{display: flex; margin-top: 20px;}
.main_video .thumbnail{width: 35%; min-width: 380px; height: 380px; margin-right: 20px; background-color: #dedede; border-radius: 20px;}
.main_video .info{max-width: 350px; position: relative; padding: 5px 0;}
.main_video .info .video_title{font-size: 25px; font-weight: bold; margin-bottom: 16px;}
.main_video .info .video_txt{font-size: 18px; display:-webkit-box; word-wrap:break-word; -webkit-line-clamp:3; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; line-height: 1.6; margin-bottom: 16px;}
.main_video .info .attaching{font-size: 12px; color: #818181; display: flex; align-items: center;}
.main_video .info .attaching div{display: flex; align-items: center; margin-left: 20px;}
.main_video .info .attaching img{width: 14px; margin-right: 6px;}

.main_video .info .btn_wrap{display: flex; width: 100%; position: absolute; left: 0; bottom: 0;}
.main_video .info .btn_wrap button{width: 40px; height: 40px; margin-right: 10px;}
.main_video .info .btn_wrap .more{width: 60%; height: 40px; border: 1px solid #00a2e9; color: #00a2e9; font-size: 14px; border-radius: 10px;}

/* 광고 */
.ad{width: 100%; height: 100px; border-radius: 20px; background-color: #dedede; margin: 20px 0;}

/* 영상리스트 */
.list_wrap .filter{display: flex; margin-bottom: 20px;}
.list_wrap .filter button{padding: 10px; border-radius: 8px; background-color: rgba(0,162,233,0.1); color: #888; margin-right: 10px;}
.list_wrap .filter button:last-of-type{margin-right: 0}
.list_wrap .filter button.active{color: #00a2e9; font-weight: bold;}

.video_list{display: flex;  flex-wrap: wrap;}
.video_list .video_item{width: calc(25% - 15px); margin-right: 20px;}
.video_list .video_item:nth-of-type(4n){margin-right: 0;}
.video_list .video_item .thumbnail{position: relative; width: 100%; height: 250px; border-radius: 20px; background-color: #dedede;}
.video_list .video_item .favorites_mark{width: 34px; height: 34px; position: absolute; top: 10px; right: 10px;}
.video_list .video_item  .info{margin: 10px 0 20px;}
.video_list .video_item .video_title{font-size: 18px; margin-bottom: 3px;}
.video_list .video_item .attaching{display: flex; justify-content: space-between;}
.video_list .video_item .attaching > div{display: flex;}
.video_list .video_item .attaching > div > div{display: flex; align-items: center; margin-right: 10px;}
.video_list .video_item  .info div{display: flex; color: #818181; font-size: 12px; align-items: center;}
.video_list .video_item .price{font-size: 14px; color: #00a2e9;}
.video_list .video_item  .info div img{width: 14px; margin-right: 6px;}

.video_list .video_item .tag{margin-top: 10px; display: flex;}
.video_list .video_item .tag div{color: #00a2e9; background-color: rgba(0,162,233,0.1); margin-right:12px; padding: 5px 3px; border-radius: 4px; font-size: 13px;}

/* 오른쪽 영상 리스트 */
.right_list h3:first-of-type{margin: 0 0 20px;}
.right_list h3{font-size: 15px; font-weight: bold; margin: 20px 0;}
.right_list .video{display: flex; align-items: center; margin-bottom: 12px;}
.right_list .video:last-of-type{margin-bottom: 0;}
.right_list .video .thumbnail{width: 30%; max-width: 92px; min-width: 80px; height: 65px; border-radius: 8px; background-color: #dedede; margin-right: 10px;}
.right_list .video .info p{font-size: 15px; margin-bottom: 6px;}
.right_list .video .info div{display: flex;}
.right_list .video .info div img{width: 8px; margin-right: 6px;}
.right_list .video .info div span{font-size: 11px; color: #818181;}


@media screen and (max-width: 1366px) {
    .main_video .thumbnail{height: 340px;}

    .video_list .video_item{width: calc(33.333% - 14px);}
    .video_list .video_item:nth-of-type(3n){margin-right: 0;}
    .video_list .video_item:nth-of-type(4n){margin-right: 20px;}
}
@media screen and (max-width: 1132px) {
    .main_video .thumbnail{height: 300px;}
    .video_list .video_item{width: calc(50% - 10px);}
    .video_list .video_item:nth-of-type(odd){margin-right: 20px;}
    .video_list .video_item:nth-of-type(even){margin-right: 0px;}
}
@media screen and (max-width: 1000px) {
    .content{width: 100%; margin-right: 0;}
    .right_list{display: none;}
}
@media screen and (max-width: 769px) {
    .container{padding: 0;}
    .content{width: 100%; margin-right: 0;}
    .right_list{display: none;}
    .search_wrap{display: none;}
    .ad{border-radius: 5px; width: calc(100% - 40px); margin: 20px auto;}

    .main_video{display: block; margin-top: 0;}
    .main_video .thumbnail{width: 100%; height: 300px; margin-right: 0; border-radius: 0;}
    .main_video .info{max-width: 100%; width: 100%; position:initial; padding: 20px;}
    .main_video .info .video_title{font-size: 18px; margin-bottom: 20px;}
    .main_video .info .video_txt{font-size: 13px; margin-bottom: 10px;}
    
    .main_video .info .btn_wrap{position: initial; margin-top: 20px;}
    .main_video .info .btn_wrap button{width: 40px; height: 40px; margin-right: 10px;}
    .main_video .info .btn_wrap .more{width: calc(100% - 100px); min-width: 220px; height: 40px; border: 1px solid #00a2e9; color: #00a2e9; font-size: 14px; border-radius: 10px;}

    .list_wrap{padding: 0 20px;}
    .list_wrap .filter{flex-wrap: wrap;}
    .list_wrap .filter button{margin-bottom: 10px;}


}
@media screen and (max-width: 600px) {
    .video_list{display: block;}
    .video_list .video_item{width: 100%; margin-right: 0; max-width: 100%;}
    .video_list .video_item:nth-of-type(3n){margin-right: 0;}
    .video_list .video_item .thumbnail{width: 100%; height: 223px; border-radius: 20px; background-color: #dedede;}
    .video_list .video_item  .info{margin: 10px 0 20px;}
}
@media screen and (max-width: 400px) {
    .main_video .thumbnail{height: 254px;}
}