.container{padding: 20px; display: flex; justify-content: space-between;}
.content{width: 80%; margin-right: 20px;}
.right_list{width: 20%; padding: 20px; border: 1px solid #eee; max-width: 400px; min-width: 300px; border-radius: 20px; max-height: 724px;}

.content .route{width: 100%; font-size: 13px;}
.content .route span:first-of-type{margin: 0 5px 0 0;}
.content .route span{margin: 0 5px; cursor: pointer;}

.video{margin: 10px 0 20px; width: 100%;}
.video .title{font-weight: bold; display: flex; justify-content: space-between; align-items: center;}
.video .title p{font-size: 25px; font-weight: bold;}
.video .title .btn_wrap{display: flex;}
.video .title .btn_wrap button{width: 40px; height: 40px; margin-left: 10px;}

.player{width: 100%; background-color: #dedede; border-radius: 20px; height: 556px; margin: 20px 0;}

.video .info .attaching{font-size: 13px; color: #818181; display: flex; align-items: center;}
.video .info .attaching div{display: flex; align-items: center; margin-left: 20px;}
.video .info .attaching img{width: 14px; margin-right: 6px;}
.video .info .video-txt{margin: 10px 0 30px; font-size: 15px; line-height: 1.6;}

/* 예시컨텐츠 */
.contents_item{display: flex; flex-wrap: wrap; justify-content: space-between; margin-bottom: 40px;}
.contents_item > div{display: flex; width: 49%;}
.contents_item > div .thumbnail{width: 40%; max-width: 316px; height: 178px; border-radius: 20px; background-color: #dedede; margin-right: 20px;}
.contents_item > div .text{width: 60%; font-size: 15px; line-height: 1.6;}

.comment{width: 100%; min-height: 480px; border: 1px solid #888; padding: 10px;}

/* 영상리스트 */
.list_wrap{margin-top: 20px;}
.video_list{display: flex;  flex-wrap: wrap;}
.video_list .video_item{width: calc(25% - 15px); margin-right: 20px;}
.video_list .video_item:nth-of-type(4n){margin-right: 0;}
.video_list .video_item .thumbnail{position: relative; width: 100%; height: 223px; border-radius: 20px; background-color: #dedede;}
.video_list .video_item .favorites_mark{width: 34px; height: 34px; position: absolute; top: 10px; right: 10px;}
.video_list .video_item  .info{margin: 10px 0 20px;}
.video_list .video_item .video_title{font-size: 18px; margin-bottom: 3px;}
.video_list .video_item .attaching{display: flex; justify-content: space-between;}
.video_list .video_item .attaching > div{display: flex;}
.video_list .video_item .attaching > div > div{display: flex; align-items: center; margin-right: 10px;}
.video_list .video_item  .info div{display: flex; color: #818181; font-size: 12px; align-items: center;}
.video_list .video_item .price{font-size: 14px; color: #00a2e9;}
.video_list .video_item  .info div img{width: 14px; margin-right: 6px;}

.video_list .video_item .tag{margin-top: 10px; display: flex;}
.video_list .video_item .tag div{color: #00a2e9; background-color: rgba(0,162,233,0.1); margin-right:12px; padding: 5px 3px; border-radius: 4px; font-size: 13px;}

/* 오른쪽 영상 리스트 */
.right_list h3:first-of-type{margin: 0 0 20px;}
.right_list h3{font-size: 15px; font-weight: bold; margin: 20px 0;}
.right_list .video{display: flex; align-items: center; margin-bottom: 12px;}
.right_list .video:last-of-type{margin-bottom: 0;}
.right_list .video .thumbnail{width: 30%; max-width: 92px; min-width: 80px; height: 65px; border-radius: 8px; background-color: #dedede; margin-right: 10px;}
.right_list .video .info p{font-size: 15px; margin-bottom: 6px;}
.right_list .video .info div{display: flex;}
.right_list .video .info div img{width: 8px; margin-right: 6px;}
.right_list .video .info div span{font-size: 11px; color: #818181;}

.mobile_video{display: none;}


@media screen and (max-width: 1366px) {
    .contents_item{display: block;}
    .contents_item > div{width: 100%; margin-bottom: 30px;}
    .contents_item > div:last-of-type{margin-bottom: 0;}

    .video_list .video_item{width: calc(33.333% - 14px);}
    .video_list .video_item:nth-of-type(3n){margin-right: 0;}
    .video_list .video_item:nth-of-type(4n){margin-right: 20px;}
}
@media screen and (max-width: 1132px) {
    .video_list .video_item{width: calc(50% - 10px);}
    .video_list .video_item:nth-of-type(odd){margin-right: 20px;}
    .video_list .video_item:nth-of-type(even){margin-right: 0px;}
}
@media screen and (max-width: 1000px) {
    .content{width: 100%; margin-right: 0;}
    .right_list{display: none;}
}
@media screen and (max-width: 769px) {
    .container{padding: 0;}
    .content{width: 100%; margin-right: 0;}
    .right_list{display: none;}
    .search_wrap{display: none;}
    .ad{border-radius: 5px; width: calc(100% - 40px); margin: 20px auto;}

    .route{display: none;}
    .video{display: none;}
    /* 영상 */
    .mobile_video{display: block; margin-top: 0;}
    .mobile_video .thumbnail{width: 100%; height: 300px;  background-color: #dedede;}
    .mobile_video .route{display: block; font-size: 12px; color: #888; padding: 0 20px; margin: 10px 0 20px;}
    .mobile_video .info{width: 100%; padding: 0 20px;}
    .mobile_video .info .title{font-size: 18px; margin-bottom: 20px;}
    .mobile_video .info .text{font-size: 13px; margin-bottom: 10px;  line-height: 1.8;}
    .mobile_video .btn_wrap{text-align: right; margin-top: 20px;}
  

    /* 예시컨텐츠 */
    .contents_item{padding: 0 20px; display: block;}
    .contents_item > div:first-of-type{display: block; width: 100%; margin-right: 0;}
    .contents_item > div{display: none;}
    .contents_item > div .thumbnail{width: 100%; max-width: 100%; margin-right: 0;}
    .contents_item > div .text{width: 100%; font-size: 15px; line-height: 1.6; margin-top: 10px;}

    .comment{width: calc(100% - 40px); margin: 0 auto; }

    /* 영상리스트 */
    .list_wrap{padding: 0 20px;}
    .list_wrap .filter{flex-wrap: wrap;}
    .list_wrap .filter button{margin-bottom: 10px;}

    .video_list{display: block;}
    .video_list .video_item{width: 100%; margin-right: 0; max-width: 100%;}
    .video_list .video_item:nth-of-type(3n){margin-right: 0;}
    .video_list .video_item .thumbnail{width: 100%; height: 223px; border-radius: 20px; background-color: #dedede;}
    .video_list .video_item  .info{margin: 10px 0 20px;}

}
@media screen and (max-width: 400px) {
    .main_video .thumbnail{height: 254px;}

}